@import url('https://fonts.googleapis.com/css?family=Roboto');

/* HTML Tags */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #525252;
  color: #FFFFFF;
}

a {
  text-decoration:none;
  color:white;
}

a:hover {
  font-weight: bold;
}

hr {
  width: 100%;
}

fieldset {
  border: solid 1px #a1a1a1;
  margin-bottom: 5px;
  border-radius: 5px;
}

input, select {
  display: block;
  float: left;
  margin: 2px;
  box-sizing: border-box;
}

form, #results_wrapper {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
}

/* Input button stylings */

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(to bottom,#4d90fe,#4787ed);

	border: 1px solid #3079ED;
	color: white;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  border: 1px solid #2F5BB7;
	
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(to bottom,#4d90fe,#357ae8);
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/* General IDs */

#contactus {
  margin-left:10px;
  margin-right:10px;
  float:right;
}

#headimg {
  display:inline;
  max-width:224px;
}

#index_nav_links {
  max-width:200px;
}

#results_wrapper {
  display: none;
}

#about {
  padding: 10px;
  max-width: 70%;
  display: inline-block;
  text-align: justify;
}

#about_form {
  display: inline-block;
}

#calc_wrapper, #net_wrapper {
  text-align: center;
}

#calc_info {
  text-align: left;
  display: inline-block;
  width: 40%;
}

#calc_info a {
  color: #4D90FE;
}

/* Navigation IDs */

#navbar {
  position:relative;
}

#topbar {
  left:0;
  padding-left:0;
}

#topbar li {
  background-color:#0060FF;
  color:white;
  padding:10px;
  list-style-type:none;
  float:left;
  font-size:large;
}

#topbar li:hover {
  background-color:teal;
}

#searchbar {
  right:0;
  position: absolute;
  top:7px;
}

#menu_button {
  display:none;
  background-color:#0060FF;
  color:white;
  float:left;
  font-size:large;
  border:none;
}

#menu_button:hover {
  background-color: teal;
}

#menu_icon {
  height: 21px;
}

#dropdown_menu {
  display:none;
}

#dropdown-container:hover #dropdown_menu {
  position:absolute;
  display:inline-block;
}

#dropdown_menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color:#0060FF;
}

#dropdown_menu a:hover {
  background-color:teal;
}

/* Classes */

.navbox {
  width:200px;
  height:200px;
  color:white;
  border-radius:10px;
  background:rgba(0,96,255,.8);
  display:inline-block;
  text-align:center;
  margin:5px;
  padding:2px;
}

.navbox:hover {
  background:rgba(0,95,255,1);
}

.index_navigation {
  width:100%;
  text-align:center;
  align-content:center
}

.resourcebox {
  width: 300px;
  height: 300px;
  color: white;
  border-radius: 10px;
  background: rgba(0, 96, 255, .8);
  display: inline-block;
  text-align: center;
  margin: 5px;
  padding: 2px;
}

.formWrapper {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding-top: 30px;
}

.title {
  text-align: center;
}

/* Classes for Calculator form */

.labelitem {
  display: block;
  float: left;
  vertical-align: text-top;
  margin: 2px;
}

/* Responsive Web Design */

/* SECTIONS */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/* COLUMN SETUP */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/* GROUPING */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}

/* GRID OF TWELVE */
.span_12_of_12 {width: 100%;}
.span_11_of_12 {width: 91.53%;}
.span_10_of_12 {width: 83.06%;}
.span_9_of_12 {width: 74.6%;}
.span_8_of_12 {width: 66.13%;}
.span_7_of_12 {width: 57.66%;}
.span_6_of_12 {width: 49.2%;}
.span_5_of_12 {width: 40.73%;}
.span_4_of_12 {width: 32.26%;}
.span_3_of_12 {width: 23.8%;}
.span_2_of_12 {width: 15.33%;}
.span_1_of_12 {width: 6.866%;}

@media only screen and (max-width: 1100px) {
  #about {
    max-width: 100%
  }
}

/*Below 790px wide search and navbar overlap. Fix?*/
@media only screen and (max-width: 850px) {
  #topbar{
    display: none;
  }
  #menu_button{
    display: block;
    height: 45px;
  }
  #navbar{
    padding: 15px;
  }
  #searchbar{
    padding-top: 16px;
  }
  #calc_info {
    width: 100%;
  }
}

@media only screen and (max-width: 530px) {
  #topbar{
    display: none;
  }
  #menu_button{
    display: block;
    height: 45px;
  }
  #navbar{
    padding: 15px;
  }
  #searchbar{
    display: none;
  }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12,
    .span_4_of_12, .span_5_of_12, .span_6_of_12,
    .span_7_of_12, .span_8_of_12, .span_9_of_12,
    .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	   width: 100%; 
	}
}